body {
    background-image: url(../QUIZ-App_Requirements/assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    font-family: 'Inter', sans-serif;

}

