body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

#epi_logo {
    text-align: left;
}


#epi_logo img {
    max-width: 20%;
    display: inline-block;
    width: 20%;
    margin-top: 5%;


}

.destra {
    text-align: right;
    align-items: center; /* da sostituire con timer */
    padding: 0;
    margin: 0;
}


.contenitore_sito {
    text-align: center;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
