@import url('https://fonts.googleapis.com/css2?family=Outfitital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Interital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin-left: 10%;
}

.container {
    padding: 2%, 4%;
    margin: 6%;
}

.epilogo {
    width: 15%;
    text-align: left;
}

h1 {
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 4em;
    font-weight: 100;
    margin-top: 8%;
    text-align:justify; 
}

h3 {
    font-size: 1.5em;
    margin-bottom: 1rem;
}

section {
    margin-top: 3%;
    text-align: justify;
    font-size: 1.5rem;
}

section h3 {
    color: #D20094;
}

ul, p, label {
    margin-top: 0;
    color: white; 
}

.destra {
    text-align: right;
    align-items: center;
    padding: 0;
    margin: 0;
}

h1 .sinistra {
    text-align: left;
}

.inline {
    display: inline-block;
}

.start {
    margin-top: 5%;
}

.start .checkbox {
    margin-right: 10px;
    margin-bottom: 3%;
    cursor: pointer;
    display: inline-block;
    width: 15px; 
    height: 15px; 
    border: 1px solid white;
    background-color: rgb(0, 0, 0, 0.5);
}

.start .checkbox:checked {
    background-color: transparent; 
}

.next {
    background-color: rgb(147, 235, 255);
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 0px 0px 20px 10px #12e1eb;
    font-size: 1.3em;
    padding: 1em 3em;
    text-align: center;
    cursor: pointer;
    padding-bottom: 30px;
    margin-bottom: 3%;
    margin-left: 30%;
    font-weight: 700;
}

/*Benchmark*/